button{
    border-radius: 5px;
    background-color: white;
    width: auto !important;
    padding: 2px 15px !important;
}
.Button_confirm{
    background-color: lightpink;
}
.Button_cancle{
    background-color: rgb(238, 251, 255);
}